{
  "dev_mode": false,
  "debug": false,
  "listen_addr": ":80",
  "jwt_secret": "...",
  "database": {
    // type can be "sqlite" or "postgres"
    "type": "postgres",
    "debug": false,

    // "path" is only used for SQLite
    "path": "godrive.db",

    // "host", "port", "username", "password", "database", "ssl_mode" are only used for PostgreSQL
    "host": "database",
    "port": 5432,
    "username": "godrive",
    "password": "godrive",
    "database": "godrive",
    "ssl_mode": "disable"
  },
  "storage": {
    // type can be "local" or "s3"
    "type": "local",
    "debug": false,

    // "path" is only used for local storage
    "path": "storage",

    // "endpoint", "access_key_id", "secret_access_key", "bucket", "region", "secure" are only used for S3 storage
    "endpoint": "minio:9000",
    "access_key_id": "godrive",
    "secret_access_key": "godrive",
    "bucket": "godrive",
    "region": "",
    "secure": false
  }
}
