VPN_ENABLED=yes
VPN_PROV=custom
VPN_CLIENT=openvpn
STRONG_CERTS=yes
ENABLE_PRIVOXY=no
LAN_NETWORK=192.168.5.0/24
NAME_SERVERS=1.1.1.1,1.0.0.1
DEBUG=false

VPN_USER=ivacy0s1234567
VPN_PASS=password1234

