DATABASE_URL=postgresql://username:password@database:5432/vaultwarden?sslmode=disable
ADMIN_TOKEN=
SMTP_HOST=
SMTP_FROM=
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=
SMTP_PASSWORD=
YUBICO_CLIENT_ID=
YUBICO_SECRET_KEY=
