## traefik.yml

# Docker configuration backend
providers:
  docker:
    defaultRule: "Host(`{{ trimPrefix `/` .Name }}.anteiku.de`)"

# API and dashboard configuration
api:
  insecure: true

experimental:
  pilot:
    token: