
global:
  checkNewVersion: true
  sendAnonymousUsage: true

log:
  level: INFO

entryPoints:
  http:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: https
          permanent: true
  https:
    address: ':443'
    http:
      tls:
        certResolver: default
        domains:
          - main: "kittybot.de"
            sans:
              - "*.kittybot.de"

providers:
  docker:
    exposedByDefault: false

api:
  dashboard: true

certificatesResolvers:
  default:
    acme:
      # testing server
      # caserver: https://acme-staging-v02.api.letsencrypt.org/directory
      email: {{EMAIL}}
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: "netcup"
        delayBeforeCheck: 900