{
  "dev_mode": false,
  "debug": false,
  "listen_addr": "0.0.0.0:80",
  "expire_after": "0",
  "cleanup_interval": "1m",
  "database": {
    // type can be "sqlite" or "postgres"
    "type": "postgres",

    // only used for SQLite
    "path": "gobin.db",

    // only used for PostgreSQL
    "host": "database",
    "port": 5432,
    "username": "gobin",
    "password": "837v430987vn57647v54",
    "database": "gobin",
    "ssl_mode": "disable"
  },
  // max size of documents in characters
  "max_document_size": 10000,
  // omit or 0 or "" for no rate limiting
  "rate_limit": {
    "requests": 10,
    "duration": "1m"
  }
}
