defaults
  log stdout format raw daemon debug
  mode tcp
  timeout connect 10s
  timeout client  10s
  timeout server  10s
  timeout http-request 10s
  option tcplog

listen traefik
  bind *:80
  server default 192.168.180.3:80 send-proxy

listen traefiks
  bind *:443
  server default 192.168.180.3:443 send-proxy

listen teleport
  bind *:3025
  server default 192.168.180.4 send-proxy

listen minecraft
  bind *:25565
  server default 192.168.180.5 send-proxy

listen mailserver
  bind *:25
  bind *:143
  bind *:465
  bind *:587
  bind *:993
  server default 192.168.180.6 send-proxy

listen database-dev
  bind *:5432
  server default 192.168.180.7 send-proxy

listen gitea
  bind *:22
  server default 192.168.180.8 send-proxy

listen raspberry-pi3b
  bind *:90
  server default 192.168.178.44 send-proxy
