version: '3.7'

services:
    portainer:
        image: portainer/portainer
        container_name: portainer
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./data:/data
        networks:
            - portainer
        ports:
            - 9000:9000
            - 8000:8000

networks:
    portainer:
        name: portainer