port: 8080
host: "0.0.0.0"
storagePath: "store"
baseUrl: "http://151.216.15.98:8080/artifacts"

repositories:
  - owner: "freyacodes"
    name: "lavalink"
    storeName: "lavalink"
    secret: "secretsecret"
    artifactRegex: ".*\\.jar"
    accessToken: "..."
    loginUsername: "freyacodes"
